html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section-2 {
  margin-top: 60px;
}

.section-2 .say-hi-block {
  background-color: #354389;
  opacity: 40%;
}

.section-2 .say-hi-block .text-say-hi {
  padding: 20px 0 20px 84px;
}

.section-2 .say-hi-block .text-say-hi h2 {
  font-family: 'PT Serif Bold';
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0.48px;
  line-height: 61px;
  font-weight: 600;
}

.section-2 .say-hi-block .text-say-hi h3 {
  font-family: 'PT Serif Bold';
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0.4px;
  line-height: 61px;
  font-weight: 600;
}

.section-2 .say-hi-block .text-say-hi p {
  max-width: 661px;
  width: 100%;
  font-family: 'Open Sans Bold';
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.36px;
  line-height: 24px;
}

@font-face {
  font-family: 'PT Serif Regular';
  src: url("../assets/fonts/PTSerif-Regular.woff2") format("woff2"), url("../assets/fonts/PTSerif-Regular.woff") format("woff"), url("../assets/fonts/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Serif Bold';
  src: url("../assets/fonts/PTSerif-Bold.woff2") format("woff2"), url("../assets/fonts/PTSerif-Bold.woff") format("woff"), url("../assets/fonts/PTSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("../assets/fonts/OpenSans-Regular.woff") format("woff"), url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../assets/fonts/OpenSans-Bold.woff2") format("woff2"), url("../assets/fonts/OpenSans-Bold.woff") format("woff"), url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*# sourceMappingURL=global.css.map */