// PT Serif fonts
@font-face {
    font-family: 'PT Serif Regular';
    src: url('../assets/fonts/PTSerif-Regular.woff2') format('woff2'),
        url('../assets/fonts/PTSerif-Regular.woff') format('woff'),
        url('../assets/fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif Bold';
    src: url('../assets/fonts/PTSerif-Bold.woff2') format('woff2'),
        url('../assets/fonts/PTSerif-Bold.woff') format('woff'),
        url('../assets/fonts/PTSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
// Open Sans Fonts
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/OpenSans-Regular.woff') format('woff'),
        url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../assets/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../assets/fonts/OpenSans-Bold.woff') format('woff'),
        url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraGO Regular';
    src: url('../assets/fonts/FiraGO-Regular.woff2') format('woff2'),
        url('../assets/fonts/FiraGO-Regular.woff') format('woff'),
        url('../assets/fonts/FiraGO-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO SemiBold';
    src: url('../assets/fonts/FiraGO-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/FiraGO-SemiBold.woff') format('woff'),
        url('../assets/fonts/FiraGO-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}







