// PT Serif fonts
@font-face {
    font-family: 'PT Serif Regular';
    src: url('PTSerif-Regular.woff2') format('woff2'),
        url('PTSerif-Regular.woff') format('woff'),
        url('PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif Bold';
    src: url('PTSerif-Bold.woff2') format('woff2'),
        url('PTSerif-Bold.woff') format('woff'),
        url('PTSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
// Open Sans Fonts
@font-face {
    font-family: 'Open Sans Regular';
    src: url('OpenSans-Regular.woff2') format('woff2'),
        url('OpenSans-Regular.woff') format('woff'),
        url('OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('OpenSans-Bold.woff2') format('woff2'),
        url('OpenSans-Bold.woff') format('woff'),
        url('OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}







