


// section 2 styles
.section-2{
    margin-top: 60px;
    .say-hi-block{
        background-color: #354389;
        opacity: 40%;
        .text-say-hi{
            padding: 20px 0 20px 84px;
            h2{
                font-family: 'PT Serif Bold';
                color: #ffffff;
                font-size: 48px;
                letter-spacing: 0.48px;
                line-height: 61px;
                font-weight: 600;
            }
            h3{
                font-family: 'PT Serif Bold';
                color: #ffffff;
                font-size: 40px;
                letter-spacing: 0.4px;
                line-height: 61px;
                font-weight: 600;
            }
            p{
                max-width: 661px;
                width: 100%;
                font-family: 'Open Sans Bold';
                color: #ffffff;
                font-size: 18px;
                letter-spacing: -0.36px;
                line-height: 24px;
            }
        }
    }
}