
// FONTS
$pt-regular: 'PT Serif Regular';
$pt-bold: 'PT Serif Bold';

$openSans-regular: 'Open Sans Regular';
$openSans-bold: 'Open Sans Bold';

$firago-reg: 'FiraGO Regular';
$firago-semibold: 'FiraGO SemiBold';

$bpg-glaho: 'BPG Glaho WEB Caps';
// / FONTS END HERE



// COLORS
$colorWhite: #ffffff;
$darkbluebg: #131931;