@mixin flex-justify($justify) {
    display: flex;
    justify-content: $justify;
}
@mixin flex-align($align) {
    display: flex;
    align-items: $align;
}
@mixin flex-justify-align($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin fl-dc-jc-ai ($flexdirection, $justify, $align) {
    display: flex;
    flex-direction: $flexdirection;
    justify-content: $justify;
    align-items: $align;
}
@mixin ff-fs-fw ($family, $size, $weight) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}